<div class='editor-left'>
  <h4><%= _("Merge Articles") %></h4>
    <div class='class'>
      Article ID: <%= text_field_tag 'merge_with', '', {:autocomplete => 'off', :style => 'width: 40%'} %>
    </div>  
    <%= submit_tag('Merge') %>
</div>

